body {
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

/* --------HEADER-------- */

header {
  display: flex;
  justify-content: space-between;
  padding: 1.309375em 1.5em 1.440625em 1.25em;
  align-items: center;
  color: #090909;
}

.container {
  display: flex;
  align-items: center;
}

.icon {
  width: 23.16px;
  height: 23.16px;
  margin-right: 0.1em;
}

header img {
  display: block;
}

h1 {
  font-size: 0.847rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 108.2%;
  letter-spacing: -0.03em;
}

header ol {
  list-style: none;
  display: flex;
  font-size: 0.75rem;
  margin: 0;
  gap: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
}

header ol a {
  text-decoration: none;
  color: inherit;
}
/* --------MAIN-------- */

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

img {
  max-width: 100%;
}

.date {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 15px;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #151515;
}

.hero-blog h2 {
  margin-top: 0.5em;
  font-weight: 700;
  font-size: 2rem;
  line-height: 108.2%;
  letter-spacing: -0.03em;
  margin-bottom: 0.5001em;
}

.hero-blog p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: #151515;
  margin-bottom: 2.1875em;
  
}

.hero-img {
  margin-bottom: 2.1875em;
}

.blog-details h3 {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.blog-details p {
  margin-top: 0;
  margin-bottom: 1.5em;
  
  font-weight: 500;
  line-height: 20px;
}

#lastPara {
  margin-bottom: 0;
}

.recent-title {
text-align: center;
font-size: 1rem;
font-weight: 700;
line-height: 20px;
color: #000000;
margin-top: 3.25em;
margin-bottom: 1.6875em;
}

.blog img {
  margin-top: 0;
}

.blog p {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.886rem;
  line-height: 18px;
  color: #000000;
  margin-bottom: 0.635em;
}

.blog h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 108.2%;
  color: #141414;
  margin-bottom: 0.38em;
}

.blog div {
  font-size: 1rem;
  font-weight: 400;
  line-height: 125%;
  font-style: normal;
  color: #505050;
  margin-bottom: 2.5625em;
}